/* style.css */

/* General styles */
body {
    margin: 0;
    padding: 0;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .mapboxgl-popup {
    padding-bottom: 5px;
  }
  
  .mapboxgl-popup-close-button {
    display: none;
  }
  
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Poppins', 'Poppins', Sans-serif;
    padding: 0;
    width: 250px;
  }
  
  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }
  
  .mapboxgl-popup-content h3 {
    background: rgb(61, 59, 59);
    text-align: center;
    color: #fff;
    margin: 0;
    display: block;
    padding: 15px;
    font-weight: 700;
    margin-top: -5px;
  }
  
  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 3px 10px 10px;
    font-weight: 400;
    color: #000;
    
  }
  
  .mapboxgl-container {
    cursor: pointer;
  }
  
  .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 3px;
  }
  
  .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: rgb(61, 59, 59);
  }
  
  #basemap-menu {
    background: rgba(23, 0, 40, 0.75);
    position: absolute;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    bottom: 30px;
    right: 55px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #basemap-menu a {
    font-size: 13px;
    color: #ffffff;
    display: block;
    margin: 5;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  #basemap-menu a:last-child {
    border: none;
  }
  
  #basemap-menu a:hover {
    background-color: rgba(89, 0, 136, 0.75);
    color: #fdfdfd;
  }
  
  #basemap-menu a.active {
    background-color: rgba(115, 0, 176, 0.75);
    color: #ffffff;
  }
  
  #basemap-menu a.active:hover {
    background: rgba(89, 0, 136, 0.75);
  }

  @media only screen and (max-width: 640px) {
    /* Move basemap menu to the bottom right corner */
    #basemap-menu {
      bottom: 10px;
      right: 10px;
    }
  
    /* Remove navigation and fullscreen controls */
    .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
      display: none;
    }
  }